@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <form id="form1" class="form-horizontal ">
        <section class="panel panel-primary">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                </div>

                <h2 class="panel-title">Filter Options: Users</h2>

            </header>
            <div class="panel-body">


                <div class="form-group">
                    <label class="col-sm-3 control-label">Friendly Name: </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control focused" name="filt_useFriendly_Name" id="filt_useFriendly_Name" value="">
                    </div>
                </div>								<div class="form-group">
                    <label class="col-sm-3 control-label">Company: </label>
                    <div class="col-sm-6">
                        <select name="filt_useCompany" id="filt_useCompany" multiple="" data-plugin-selecttwo="" class="form-control populate select2-hidden-accessible" tabindex="-1" aria-hidden="true">

                            <option value="2">Builders</option>

                        </select>
                    </div>
                </div>								<div class="form-group">
                    <label class="col-sm-3 control-label">Can Login: </label>
                    <div class="col-sm-6">
                        <select name="filt_useCan_Login" id="filt_useCan_Login" multiple="" data-plugin-selecttwo="" class="form-control populate select2-hidden-accessible" tabindex="-1" aria-hidden="true">

                            <option value="2">No</option>

                            <option value="1">Yes</option>

                        </select>
                     </div>
                </div>
            </div>
            <footer class="panel-footer" style="text-align: center">
                <button class="btn btn-primary">Search</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </footer>
        </section>
    </form>
</div>
    <div class="row">
                <form asp-action="Users">
                    <section class="panel panel-primary">
                            <header class="panel-heading">
                                <h2 class="panel-title">Users</h2>
                                <div style="padding:0px;padding-bottom: 10px; float: right; top:-25px; position: relative">
                                    <a class="btn-s btn btn-primary" href="@Url.Action("Index","User")"><i class="fa fa-plus"></i> Add</a>
                                    <a class="btn-s btn btn-primary" href="@Url.Action("Export","ExportUser")"><i class="fa fa-download"></i> Export</a>
                                </div>
                            </header>
                            <div class="panel-body">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                    <div class="row datatables-header form-inline">
                                        <div id="DataTables_Table_0_processing" class="dataTables_processing" style="display: none;">
                                            <i class="fa fa-spinner fa-spin"></i> Loading
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped datatable-ajax dataTable no-footer" id="DataTable_Table_0" role="grid" aria-describedby="userDataTables_info">
                                            <thead>
                                                <tr role="row">
                                                    <th autowidth=t class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ID: activate to sort column descending" aria-sort="ascending" style="width: 13px;">ID</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Friendly Name: activate to sort column ascending" style="width: 59px;">Friendly Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Contact Number: activate to sort column ascending" style="width: 61px;">Contact Number</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email Address: activate to sort column ascending" style="width: 149px;">Email Address</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date of Birth: activate to sort column ascending" style="width: 56px;">Date of Birth</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Company: activate to sort column ascending" style="width: 61px;">Company</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Can Login: activate to sort column ascending" style="width: 35px;">Can Login</th>
                                                    <th width="140" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 41px;">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
    </div>
    @section Scripts{
        <script>
            $(document).ready(function () {

                var table = $('#DataTable_Table_0').DataTable();

                table.destroy();
                
                table = $("#DataTable_Table_0").DataTable({
                    "ajax": {
                        "url": "/Home/GetUsers",
                        "type": "Get",
                        "dataType": "json"
                    },
                    "columns": [
                        { "data": "id", "name": "Id", "autoWidth": true },
                        { "data": 'friendly_Name', "name": 'Friendly_Name', "autoWidth": true },
                        { "data": "contact_Number", "name": "Contact_Number", "autoWidth": true },
                        { "data": "email_Address", "name": "Email_Address", "autoWidth": true },
                        { "data": "date_of_Birth", "name": "Date_of_Birth", "autoWidth": true },
                        { "data": "company_name", "name": "Company_Name", "autoWidth": true },
                        { "data": "can_Login", "name": "Can_Login", "autoWidth": true },
                        {
                            "data": null, render: function (data, type, row) {
                                return '<a href="/User/Index?Id=' + data.id + '"><button type="button" class="btn btn-info btn-xs">Edit</button></a>&nbsp;&nbsp;&nbsp;<a href="/user/DeleteUser?Id=' + data.id + '" > <button type="button" class="btn btn-danger btn-xs" onclick="return confirmit();">Delete</button></a > '
                            }
                        }
                    ]
                })
            });
        </script>
    }
